.admin-header {
    display: flex;
    border-bottom: 4px solid #1cdb56;
    width: 100%;
    background: #464646FF;
    height: 75px;
}
.admin-title{
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 30px;
    margin: auto 30px;
    color: #1cdb56;
}