.header {
    width: 100%;
    background: #1cdb56;
    border-bottom: 1px solid darken($color: #1cdb56, $amount: 15);
}

.header__content {
    display: flex;
    height: $header_height;
    padding: 0 10px;
}

.header__name {
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 20px;
    margin: auto 0;
    color: #464646;

    &:active{
        color: #56f856;
    }
}

.header__nav {
    position: absolute;
    display: block;
    width: 100%;
    background: #464646;
    left: 100%;
    right: 0;
    top: $header_height + 1px;

    &.mobile-visible{
        left: 0;
    }

    transition: left 1s;
}
    

.header-icon__responsive{
    text-decoration: none;
    color: darken($color: #1cdb56, $amount: 30);
    font-size: 20px;
    margin: auto 0 auto auto;
}

.header-nav-responsive{
    display: none;
}

.nav__link {
    display: inline-block;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid darken($color: #464646, $amount: 5);
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-style: italic;
}

.link-active {
    color: #ffffff;
}