@import 'variables';
@import 'imports';
@import 'admin/admin';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    height: 100%;
}

body {
    background: #ebebeb url('/images/noise3.png');
    background-repeat: repeat;
    overflow-x: hidden!important;
}

#react-app{
    display: flex;
    height: 100%;
}

@media (min-width: 769px) {
    @import 'home/home';
    @import 'header/header';
    @import 'footer/footer';
    @import 'various/banner';
    @import 'projects/projects';

    .page {
        width: 100%;
        min-height: 100%;
    }
    .content {
        max-width: 1100px;
        min-height: calc(100% - #{$header_height} - #{$footer_height} - 1px);
        margin: 0 auto;
    }
}

@media(max-width: 768px) {
    body {
        width: 100%;
    }
    @import 'mobile/header';
}