.home-introduction {
    display: flex;
    height: 600px;
}

.introduction-image{
    display: inline-flex;
    height: 500px;
    margin: auto 0 auto auto;
}

.introduction-section{
    display: inline-flex;
    width: 50%;
}

.section-text{
    display: block;
    margin: auto;
    color: #565656;
    h1 {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 75px;
        // margin: 10px 20px 20px 10px;
    }
    p{
        font-family: 'Roboto Condensed';
        font-weight: 300;
        font-size: 30px;
        margin: 35px 50px;
    }
}