.footer{
    display: block;
    background: #464646;
    margin-bottom: 0;
}

.footer__content{
    height: $footer_height;
    display: flex;
    color: #ffffff;
}

.footer-text{
    margin: auto;
}