.projects__view{
    display: block;
}

.project__block{
    display: inline-block;
    margin: 10px 0;
    border: 1px solid #88ff00;
    width: 100%;
    background: #99bb99;
}
.project__block-inner{
    margin: 5px;
}