.header {
    background: #1cdb56;
    border-bottom: 1px solid darken($color: #66dd26, $amount: 15);
}

.header__content {
    display: flex;
    height: $header_height;
}

.header__name {
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 30px;
    margin: auto 0 auto 10px;
    color: #464646;

    &:hover{
        color: #f8f8f8;
    }

    &:active{
        color: #56f856;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 0 0 auto;
}

.nav__link {
    text-decoration: none;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-style: italic;
    color: #4b4b4b;
    padding: 0 20px;
    text-align: center;
    .nav__link-active {
        border-bottom: 5px solid #464646;
    }
}

.link-active {
    color: #ffffff;
}

.nav__item {
    display: inline-flex;
    height: 100%;

    &:hover{
        color: #f8f8f8;
    }

    &:active{
        color: #56f856;
    }
}

.item__label {
    margin: auto;
}

.header-icon__responsive {
    display: none;
}